.NotFound {
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 40px;
    color: red;
    background-color: #ffe6e6;
    border-color: red;
    border-style: dashed;
    box-shadow: 0px 10px 14px -7px darkred;
    max-width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 50%;
    min-width: fit-content;
    min-height: fit-content;
    margin: auto;
    margin-top: 120px;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s ease-in-out all;
}

.NotFound:hover {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0px darkred;
    margin-top: 126px;
}

@media(max-width: 768px){
    .NotFound{
        font-size: large;
        max-width: 200px;
    }
}