.SavedImage {
    height: fit-content;
    padding: 15px;
    border-radius: 5px;
    box-shadow: none;
    width: 90%;
    max-width: 250px;
    margin: auto;
    align-content: center;
    transition: 0.3s ease-in-out all;
    display:inline-flexbox;
}

.SavedImage:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.RefreshIcon, .StarIcon {
    z-index: 10000000;
    position: absolute;
    top: 3px;
    color:rgb(0, 0, 0, 0.66);
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 4px;
}

.RefreshIcon:hover, .StarIcon:hover {
    color:rgb(0, 0, 0, 1);
    background-color: rgb(255, 255, 255, 1);
    cursor: pointer;
}

.StarIcon {
    left: 3px;
}

.RefreshIcon {
    right: 3px;
}

.Icon {
    color:rgb(87, 87, 87, 0.33);
}

.Icon:hover {
    color:rgb(87, 87, 87, 0.66);
    cursor: pointer;
}

.Popover:hover {
    background-color:rgb(87, 87, 87, 0.2);
}

.PopoverText {
    padding: 10px;
}

.SavedImageContainer {
    margin-top: 10%;
}

@media(min-width: 768px) {
    .SavedImageContainer {
        margin-top: 10%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media (max-width: 768px){
	.Image {
        padding: 7px;
        padding-top: 20px;
        width: 92%
	}

    .SavedImageContainer {
        margin-top: 20%;
    }

    .Popover:hover {
        background-color:rgb(0, 0, 0, 0);
    }
}

@media (max-width: 500px){
	.Image {
                padding: 5px;
                padding-top: 15px;
                width: 95%
	}
}