.ImageRow{
    text-align: left;
    font-size: 16px;
    margin: 3px;
}

.HidingIcon{
    margin-bottom: 0px;
    margin-right: 10px;
    color-adjust: rgb(87, 87, 87, 0.66);
    float: right;
}

.ImageRow:hover{
    box-shadow: 5px 2px 10px -2px rgb(87, 87, 87, 0.66);
}

.ImageRowTooltip{
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.CardImg {
    width: 100px !important;
}

.CardText {
    margin: auto;
    text-align: left;
}

.CardContent {
    display: flex;
}

.CardDetails {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.CardClose {
    position: absolute;
    top: 3px;
    right: 3px;
    color:rgb(87, 87, 87, 0.33);
}

.CardClose:hover {
    color:rgb(87, 87, 87, 0.66);
    cursor: pointer;
}

@media (max-width: 768px){
    .ImageRow{
        font-size: 14px;
    }
    .CardImg {
        width: 80px !important;
    }
}

@media (max-width: 500px){
    .ImageRow{
        font-size: 12px;
    }
    .CardImg {
        width: 65px !important;
    }
}
