.TrainMe {
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    max-width: 550px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 90%;
    margin: auto;
    margin-top: 72px;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out 0.5s all;
}
