.Image {
    height: fit-content;
    padding: 10px;
    padding-top: 25px;
    border-radius: 5px;
    box-shadow: none;
    width: 90%;
    max-width: 410px;
    margin: auto;
    align-content: center;
    transition: 0.3s ease-in-out all;
    display:inline-flexbox;
}

.Image:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.RefreshIcon, .StarIcon, .UndoIcon, .RedoIcon, .NextIcon, .PreviousIcon {
    z-index: 10000000;
    position: absolute;
    top: 3px;
    color:rgb(0, 0, 0, 0.66);
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 4px;
}

.RefreshIcon:hover, .StarIcon:hover, .RedoIcon:hover, .UndoIcon:hover, .NextIcon:hover, .PreviousIcon:hover {
    color:rgb(0, 0, 0, 1);
    background-color: rgb(255, 255, 255, 1);
    cursor: pointer;
}

.StarIcon {
    left: 3px;
}

.RefreshIcon {
    right: 3px;
}

.RedoIcon {
    top: 35px;
    right: 3px;
}

.UndoIcon {
    top: 35px;
    left: 3px;
}

.NextIcon {
    top: 70px;
    right: 3px;
}

.PreviousIcon {
    top: 70px;
    left: 3px;
}


@media (max-width: 768px){
	.Image {
        padding: 7px;
        padding-top: 20px;
        width: 92%
	}
}

@media (max-width: 500px){
	.Image {
                padding: 5px;
                padding-top: 15px;
                width: 95%
	}
}